#home {
    padding-top: 70px;
    display: flex;
    width: 82%;
    justify-content: center;
    padding-bottom: 50px;
    margin: auto;
}
#home > div:nth-child(1) {
    width: 50%;
}
#home > div:nth-child(2) {
    width: 50%;
}
.profImg {
    height: 390px;
    width: 340px;
    float: right;
    border-radius: 190px;
}
#homeh1 {
    font-size: 50px;
    font-family: sans-serif;
    line-height: 63px;
}
#colorName {
    color: #4070f4;
}
#homeAImg {
    height: 40px;
    margin-top: 40px;
    margin-left: 10px;
    gap: 50px;
    display: flex;
    justify-content: flex-start;

}
#homeAImg a img {
    width: 40px;
    height: 40px;
}

#about {
    width: 100%;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 70px;
    text-align: center;
    background-color: aliceblue;
}
#sectionName {
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    color: #4070f4;
}
#line {
    width: 79px;
    height: 2px;
    background-color: #4070f4;
    margin: auto;
}
#aboutName {
    padding-top: 39px;
    font-weight: 600;
}
#about p {
    padding-top: 20px;
    font-size: 19px;
    color: rgba(0, 0, 0, 0.699);
    line-height: 25px;
}
#skills {
    padding: 100px 0px;
}
#skillbox1 {
    padding-top: 39px;
    display: flex;
    justify-content: center;
    gap: 30px;
}
#skillbox1 img {
    width: 150px;
    height: 150px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#skillbox2 {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    gap: 30px;
}
#skillbox2 img {
    width: 150px;
    height: 150px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#projects {
    padding: 100px 0px;
    background-color: aliceblue;
    
}
.projects {
    padding-top: 39px;
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 87%;
    margin: auto;
}
.projects > div {
    width: 48%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    background-color: white;
}
#sugarImg {
    height: 49%;
    width: 100%;
}
#projectLinkA {
    text-decoration: none;
    color: black;
    background-color: white;
}
#projectLinkA:hover {
    color: rgb(129, 125, 125);
}
#projectP {
    padding: 10px 0px;
    height: 38%;
    width: 90%;
    margin: auto;
    /* border: 1px solid green; */
    padding-bottom: 230px;
}
#projectP p {
    padding-bottom: 10px;
    font-size: 19px;
    color: rgba(0, 0, 0, 0.699);
}
#projectP p:nth-child(1) {
    font-size: 25px;
    color:  black;
}
#projectLink {
    padding-top: 13px;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}
#projectLink img {
    width: 20px;
    height: 20px;
}
#projectLink a {
    color: white;
    background-color: #4070f4;
    padding: 5px 20px;
    border-radius: 10px;
}
#projectLink a:hover {
    background-color: white;
    color: #4070f4;
    border: 1px solid #4070f4;
}
#contact {
    padding-top: 75px;
    color: white;
    background-color: #0E2431;
    height: 400px;
}
#contactName {
    text-align: center;
    font-size: 28px;
    padding-top: 40px;
}
#contactSite {
    padding-top: 25px;
    display: flex;
    justify-content: center;
    gap: 30px;
}
#contactSite a {
    text-decoration: none;
    color: white;
}
#contactSite img {
    width: 30px;
    height: 30px;
    border-radius: 10px;
}
#contactSite p {
    text-align: center;
    font-size: 15px;
}
#contactSite a:hover {
    color: #4070f4;
    background-color: #0E2431;
    border-radius: 11px;
}