* {
    font-family: sans-serif;
}
#heading {
    padding: 30px 0px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    height: 500px;
}
#heading > div:nth-child(1) {
    width: 45%;
}
#heading > div:nth-child(2) {
    width: 35%;
}
#h1Head {
    font-size: 50px;
    line-height: 69px;
    padding-bottom: 30px;
}
#resumeDiv {
    padding-bottom: 40px;
    margin-left: 20px;
}
#resumeHref {
    background-color: #3d3de7;
    color: white;
    text-decoration: none;
    border-radius: 15px;
    padding: 15px 25px;
    font-size: 17px;

}
#resumeHref:hover {
    background-color: white;
    color: #3d3de7;
    border: 1px solid #3d3de7;
}
#githubAndLinkedin{
    margin-left: 5px;
}
#githubAndLinkedin > a > img {
    padding-right: 50px;
    height: 40px;
    width: 40px;
}
#myPhoto {
    width: 70%;
    height: 400px;
    border-radius: 310px;
    margin-top: 20px;
}
#about {
    text-align: center;
    /* border: 1px solid red; */
    padding: 30px 0px;
    font-family: serif;
    padding-bottom: 159px;
}
#headAll {
    color: #3d3de7;
    line-height: 1px;
}
#line {
    height: 2px;
    width: 78px;
    background-color: #3d3de7;
    margin: auto;
}
#aboutGap {
    padding: 50px 0px;
}
#about > h3 {
    font-size: larger;
}
#aboutP {
    line-height: 25px;
    color: rgba(0, 0, 0, 0.705);
}
#skills {
    display: flex;
    justify-content: center;
    gap: 20px;
    /* border: 1px solid green; */
    text-align: left;
}
#skills > div {
    /* border: 1px solid red; */
    width: 43%;
    padding-left: 70px;
}
#logoDiv > div {
    display: flex;
    margin-bottom: 20px;
    gap: 40px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}
#logoImg {
    padding-top: 11px;
    height: 35px;
    width: 35px;
}
#projectDiv {
    display: flex;
    justify-content: center;
    /* border: 1px solid yellow; */
    padding-top: 40px;
    height: 700px;
    gap: 40px;
}
#projectDiv > div {
    /* border: 1px solid green; */
    width: 39%;
    text-align: left;
}
#projectDiv > div > p {
    margin-left: 30px;
}
#projectImage {
    width: 100%;
    height: 330px;
}
#projectP {
    font-size: 31px;
}
#pp {
    line-height: 24px;
    color: rgba(0, 0, 0, 0.733);
    font-size: large;
}
#site {
    display: flex;
    gap: 90px;
    margin: 30px;
}
#siteA {
    text-decoration: none;
    background-color: #3d3de7;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
}
#siteA:hover {
    background-color: white;
    color: #3d3de7;
    border: 1px solid #3d3de7;
}
#siteImages {
    text-decoration: none;
    height: 20px;
    width: 20px;
}
#nameH1 {
    font-weight: bold;
    color: white  ;
}
#GetInTouch {
    text-align: center;
    /* border: 1px solid red; */
    padding: 30px 0px;
    font-family: serif;
    padding-bottom: 50px;
    background-color: #0E2431;
}
#mySite {
    display: flex;
    gap: 40px;
    /* border: 1px solid green; */
    height: 100px;
    width: 60%;
    margin: auto;
    margin-top: 50px;
    justify-content: center;
}
#mySite > a {
    /* border: 1px solid white; */
    display: block;
    line-height: 5px;
    color: white;
    text-decoration: none;
}
#mySite > a:hover {
    color: blue;
}
#hrefImage {
    /* border: 1px solid white; */
    display: block;
    line-height: 5px;
    color: white;
}
#mySiteImg {
    width: 35px;
    height: 35px;
}
